:root{
    --primary-background-color: #FCF3D7;
    --secondary-background-color: #000;
    --primary-text-color: #010103;
    --secondary-text-color: #fff;
    --hover-text-color: #2b4874;
    --border-color: #bcbcbc;
    --heading-text-color: #000;
    --sub-heading-text-color: #4f4f4f;
    --papaya-sumting: #FCF3D7;
}